<h1>login</h1>

<form action="/user/login" method="post">
    <input type="email" name="Email" placeholder="Email"><br>
    <input type="text" name="Password" placeholder="Password"><br>
    <button type="submit">sub</button>
</form>
