<form action="/user/setting/userupdate" method="post">
    <input type="text" name="Name" placeholder="update Name">
    <input type="email" name="Email"  placeholder="update Email">
    <input type="text" name="Number" placeholder="update Number">
    <button type="submit">update</button>
</form>